@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

body {
  background: $backgroundColor;
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
}

img {
  object-fit: cover;
  align-self: center;
}

p {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 0.8rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
@include for-phone-only {
  p {
    font-size: 10px;
    line-height: 20.42px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 0.6rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@include for-tablet-potrait-up {
  p {
    font-size: 18px;
    line-height: 25.42px;
  }

  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@include for-tablet-landscape-up {
}

@include for-desktop-up {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}

@include for-big-desktop-up {
}
